In [1]:
people = {
    "first": ["Alex"],
    "last": ["Buk"],
    "email": ["aleksandar.buk@gmail.com"]
}

In [5]:
people = {
    "first": ["Alex", "John", "Mikey"],
    "last":["Buk", "Munch", "Tyson"],
    "email": ["This@email.com", "That@email.com", "Theirs@gmail.com"]
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first   last             email
0   Alex    Buk    This@email.com
1   John  Munch    That@email.com
2  Mikey  Tyson  Theirs@gmail.com

In [9]:
df['email']

0      This@email.com
1      That@email.com
2    Theirs@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [11]:
df.email

0      This@email.com
1      That@email.com
2    Theirs@gmail.com
Name: email, dtype: object

In [12]:
df[['first', 'email']]

   first             email
0   Alex    This@email.com
1   John    That@email.com
2  Mikey  Theirs@gmail.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [18]:
df.iloc[[0, 1], 2]

0    This@email.com
1    That@email.com
Name: email, dtype: object

In [23]:
df.loc[[0, 1], ['email', 'last']]

            email   last
0  This@email.com    Buk
1  That@email.com  Munch